.h1-title{
    color: #33323D;
    font-size: 3rem;
    line-height: 2.2rem;
    max-width: 19rem;
    min-width: 19rem;
    font-weight: 700;
}

.about-text{
    font-size: 1rem;
    line-height: 2rem;
    letter-spacing: 0;
    opacity: .8;
    margin-bottom: 2rem;
}